<h1>Course List</h1>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Filter by</label>

    <div class="col-sm-10">
        <input [(ngModel)]="filter" class="form-control">
    </div>
    
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Code</th>
            <th>Release Date</th>
            <th>Rating</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of filteredCourses">
            <th><img [src]="course.imageUrl" width="40" height="40"></th>
            <th>{{ course.name }}</th>
            <th>{{ course.price }}</th>
            <th>{{ course.code | lowercase | replace: '-' : ' '}}</th>
            <th>{{ course.releaseDate | date: 'dd/mm/yyyy' }}</th>
            <th>
                {{ course.rating }}
            </th>
            <td>
                <a [routerLink]="['/courses/info', course.id]" class="btn btn-primary mr-2">Edit</a>
                <!-- <button (click)="deleteById(course.id)" class="btn btn-danger">Delete</button> -->
            </td>
        </tr>
    </tbody>
</table>